body {
    background-image: url('../background.jpg');
    background-color: #006835;
}

#header .logo-icon {
    background-image: url('../img/logo.svg');
    height: calc(100% - 6px);
    margin: 2px 0 0 2px;
}
#nextcloud .logo-icon {
    height: calc(100% - 2px);
    margin: 0;
}
